<!--User controls-->
<div class="container">
    <div class="row" id="user-controls">         
        <button class="btn btn-default" id="view-collections">View my collections</button>
        <button class="btn btn-default" id="new-collection">Create new collection</button>  
        <button class="btn btn-default hidden" id="verify-btn">Verify your email address</button>      
    </div>
</div>