html,
body {
    margin: 0;
    height: 100%;
}

.centered {
    height: 15%;
    width: 25%;
    margin-left: 30%;
    margin-top: 5%;
}

.navbar {
    background-color: #0f6256;
}

.btn {
    margin: 5px;
}

.hidden {
    display: none;
}

#sign-in-status {
    padding: 15px;
}
 
footer {
    position: relative;
    top: 70%;
}