html,
body {
    margin: 0;
    height: 100%;
}

.centered {
    height: 15%;
    width: 25%;
    margin-left: 30%;
    margin-top: 5%;
}

.collection-manage-container {
    width: 25%;
    margin-left: 35%;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}


/*
    Navigation bar
*/

.navbar {
    background-color: #0f6256;
}

main {
    margin-top: 3rem;
}


/*
    Class for removing elements
*/

.hidden {
    display: none;
}


/*
    Login notifications
*/

#sign-in-status {
    padding: 15px;
}


/*
    Footer
*/

footer.page-footer {
    background-color: #0f6256;
}

footer {
    position: fixed;
    width: 100%;
    top: 88%;
}


/*
    Sing in and Register forms positioning
*/

#user-controls {
    margin-left: 20%;
    margin-top: 20%;
}

#item-preview {
    margin: 1%;
    width: 25%;
    margin-left: 35%;
    padding: 5%;
}
#collection-preview {
    margin: 1%;
    width: 25%;
    margin-left: 35%;
    padding: 5%;
}
#privacy-btns{
    margin-left: 30%;
}