.float-right{
    float:right;
}

.centered{
    width: 250px;
    height: 250px;    

    margin: auto;
}
.btn{
    margin: 5px;
}

.hidden {
    display: none;
}
#sign-in-status{
    margin-top: 15px;
}