<div class='collection-manage-container'>
    <div class="md-form">
        <input type="text" id="itemToSearch" class="form-control">
        <label for="form2">Type the {{this.colType}} name and we will find it!</label>
        <button class="btn btn-default" id="item-add-btn">Add</button>
    </div>
</div>
<div>
 {{#each this}}
 <p>sdsad</p>
 {{/each}}
</div>