<div class="centered">
    <div class="card">
        <div class="card-block">
            <div class="form-header  default-color-dark">
                <h3>Create new Collection:</h3>
            </div>
        </div>
        <div class="md-form">
            <input type="text" id="inputCollectionType" class="form-control">
            <label for="form2">Choose Type: movie, book or song</label>
        </div>
        <div class="md-form">

            <input type="text" id="inputCollectionDescription" class="form-control">
            <label for="form4">Short Description:</label>
        </div>
         
        <div class="md-form">              
                <input type="checkbox" id="isPublic">
                <label for="isPublic" class="isPublic">Make Public</label>             
        </div>
        <div class="text-center">
            <button class="btn default-color-dark" id="create-collection-btn">Create</button>
        </div>
    </div>
</div>