<div class="container">
    <div class="row">
        {{!--
        <div class="col-md-12">
            <button class="btn btn-default">All collections</button>
            <button class="btn btn-default">Movie collections</button>
            <button class="btn btn-default">Book collections</button>
            <button class="btn btn-default">Song collections</button>
        </div>--}}
        <button class="btn btn-default">View collections</button>
        <button class="btn btn-default">Create new collection</button>
        <!--<button id="test-btn" class="btn btn-default">Test</button>-->
    </div>
</div>