<div class="container">

    <!--Page heading-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="h3-responsive">Your collections:
                <a href="#/user/*"><small>back to your profile controls</small></a>
            </h3>
        </div>
    </div>

    <hr>
    {{#each this}}
    <div class="card" id="collection-preview">        
        <!--Card image-->
        <div class="view overlay hm-white-slight">             
                <img src="imgs/movies-collection.gif" class="img-fluid" alt="">          
            <a href="#!">
                <div class="mask"></div>
            </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block">
            <!--Title-->
            <h4 class="card-title" id="coll-type">Type: {{this.colType}}</h4>
            <!--Text-->
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">{{this.author}}</p>
            <div class="read-more">
                <button class="btn btn-brown">View items</button>
                <button class="btn btn-brown collection-manage-btn">Manage</button>
                <span class="hidden">{{this.key}}</span>
            </div>
        </div>
        <!--/.Card content-->
    </div>
    <!--/.Card-->
    {{/each}}

    <hr>

     
</div>