 <div class="container">         
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1-responsive"> 
                        <small class="text-muted">Don't remember, collect!</small>
                    </h1>
                </div>
            </div>          
            <hr>

            <!--First row-->
            <div class="row wow">
                <!--First column-->
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://upload.wikimedia.org/wikipedia/en/1/17/Batman-BenAffleck.jpg" class="img-fluid" alt="">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Batman</h4>
                            <!--Text-->
                            <p class="card-text">Batman infoBatman infoBatman infoBatman infoBatman infoBatman infoBatman infoBatman infoBatman info</p>
                            <div class="read-more">
                                <a href="#!" class="btn btn-brown">Share</a>
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--/.First column-->

              
            <hr>

            
        </div>
        <!--/.Main layout-->