<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#/home">Loquat-Collector</a> 
        

        <a class="btn btn-default navbar-btn float-right" href="#/register">Register</a>
        <a class="btn btn-default navbar-btn float-right" href="#/signin">Sign in</a>
    </div>
</nav>

<form>
    <div class="form-group">
        <label for="inputFirstName">First name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="inputLastName">Last name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="inputUserName">User name</label>
        <input type="text" class="form-control" id="inputUserName" placeholder="User Name">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
</form>
<button class="btn btn-primary" id="register-btn">Register</button>