<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container">-->
        <!--<a class="navbar-brand" href="#/home">Loquat-Collector</a>  -->

        <!--<a class="btn btn-default navbar-btn float-right" href="#/register">Register</a>-->
        <!--<a class="btn btn-default navbar-btn float-right" href="#/signin">Sign in</a>-->
    <!--</div>-->
<!--</nav>-->

<div class="centred">
    <form>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button class="btn btn-primary" id="send-sign-in-btn">Sign in</button>
    </form>

    <!--<strong>Sign in</strong>-->
</div>