<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#/home">Loquat-Collector</a>  

        <a class="btn btn-default navbar-btn float-right" href="#/register">Register</a>
        <a class="btn btn-default navbar-btn float-right" href="#/signin">Sign in</a>
    </div>
</nav>

<div class="centred">
    <strong>Sign in</strong>
</div>